@import "_color_default";
@import "_font";
@import "_mixin";
@import "_reset";
html {
  font-size: 13px;
}
body {
  color: $red_l;line-height: 1;
}
body,button, input, select, textarea {
  font-family:tahoma,Helvetica, Arial,"\5FAE\8F6F\96C5\9ED1";*font-family:"\5FAE\8F6F\96C5\9ED1";
}
